<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Proy_DAO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>logueo</servlet-name>
    <servlet-class>com.proyecto.servlets.SvLogueo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logueo</servlet-name>
    <url-pattern>/logueo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrarUsuario</servlet-name>
    <servlet-class>com.proyecto.servlets.SvRegistrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrarUsuario</servlet-name>
    <url-pattern>/registrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listadoUsuarios</servlet-name>
    <servlet-class>com.proyecto.servlets.SvListadoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoUsuarios</servlet-name>
    <url-pattern>/listadoUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eliminarUsuario</servlet-name>
    <servlet-class>com.proyecto.servlets.SvEliminarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarUsuario</servlet-name>
    <url-pattern>/eliminarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actualizarUsuario</servlet-name>
    <servlet-class>com.proyecto.servlets.SvActualizarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actualizarUsuario</servlet-name>
    <url-pattern>/actualizarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cerrando</servlet-name>
    <servlet-class>com.proyecto.servlets.SvCerrarCesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cerrando</servlet-name>
    <url-pattern>/cerrando</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrarVenta</servlet-name>
    <servlet-class>com.proyecto.servlets.SvRegistrarVenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrarVenta</servlet-name>
    <url-pattern>/registrarVenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listadoVentas</servlet-name>
    <servlet-class>com.proyecto.servlets.SvListadoVentas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoVentas</servlet-name>
    <url-pattern>/listadoVentas</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>listadoProductos</servlet-name>
    <servlet-class>com.proyecto.servlets.SvListadoProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoProductos</servlet-name>
    <url-pattern>/listadoProductos</url-pattern>
  </servlet-mapping>
  
</web-app>